<%- include('header'); -%>

<div class="container" ng-app="myApp" ng-controller="myCtrl">
  <div>
    <h1 style="font-size: 45px">Video Meeting</h1>
    <p style="font-weight: 200px">
      Video conference website that lets you stay in touch with all your
      friends.
    </p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>Start or join a meeting</p>
      <div class="row">
        <div class="col-md-10">
          <input
            class="form-control"
            placeholder="URL"
            type="text"
            ng-model="url"
          />
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary btn-block" ng-click="join()">
            Go
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6"></div>
  </div>
</div>
<script src="/static/js/custom/home.js"></script>
<%- include('footer'); -%>
