<%- include('header'); -%>

<div class="container">
  <h1 class="text-center p-5 m-5">
    To have better user experience, we encourage to use laptop or desktop to
    join the conference room, or use larger screen size device
  </h1>
</div>
<%- include('footer'); -%>
