<%- include('header'); -%>

<script src="/socket.io/socket.io.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Faker/0.5.12/MinFaker.js"
  integrity="sha512-+qHsuYJbatsUfmvRdKj5xyKJO1othF3ZeK/X6ap2pNJrHYtSdrNmZFTisz79wr+ddh1XIJs3EpsISWYkJEguwQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<div ng-app="myApp" ng-controller="myCtrl">
  <div class="container">
    <h1 ng-show="!isChrome()">Sorry, this works only with Google Chrome</h1>
  </div>

  <div ng-show="isChrome()" class="">
    <div ng-show="askForUsername" class="container">
      <div class="form-floating">
        <select
          class="form-select"
          id="audioSource"
          ng-model="permission.audioInputDevice"
        >
          <option ng-repeat="x in deviceOption.audioInput" value="x.deviceId">
            {{ x.label }}
          </option>
        </select>
        <label for="audioSource">Audio input source:</label>
      </div>

      <div class="form-floating">
        <select
          class="form-select"
          id="audioOutput"
          ng-model="permission.audioOutputDevice"
        >
          <option ng-repeat="x in deviceOption.audioOutput" value="x.deviceId">
            {{ x.label }}
          </option>
        </select>
        <label for="audioOutput">Audio output destination:</label>
      </div>
      <div class="form-floating">
        <select
          class="form-select"
          id="videoSource"
          ng-model="permission.videoDevice"
        >
          <option ng-repeat="x in deviceOption.video" value="x.deviceId">
            {{ x.label }}
          </option>
        </select>
        <label for="videoSource">Video source:</label>
      </div>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          ng-model="username"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />

        <button
          class="btn btn-outline-secondary"
          ng-click="connect()"
          type="button"
        >
          Enter Room
        </button>
      </div>

      <div class="text-center">
        <video style="width: 80%" id="video" playsinline autoplay></video>
      </div>
    </div>

    <div ng-show="!askForUsername" class="row">
      <div class="container">
        <div class="row">
          <div class="col col-md-8 border border-danger p-2 m-0">
            <video
              id="my-video"
              autoPlay
              muted
              style="
                border-style: solid;
                border-color: #bdbdbd;
                margin: 10px;
                object-fit: fill;
                width: 100%;
              "
            ></video>
          </div>
          <div class="col col-md-2 border border-danger">
            <div
              class="row overflow-auto"
              id="main"
              class="flex-container"
              style="margin: 0; padding: 0"
            ></div>
          </div>
          <div class="col col-md-2 border border-danger">
            <div class="row">
              <button class="btn btn-light" ng-click="copyUrl()">
                Copy invite link
              </button>
            </div>
            <div
              class="row overflow-auto"
              id="messageContainer"
              style="
                max-height: 88vh;
                min-height: 88vh;
                align-content: flex-start;
              "
            >
              <div
                ng-show="messages.length > 0"
                style="text-align: left; height: fit-content"
                ng-repeat="x in messages"
              >
                <p style="word-break: break-all" class="p-0 m-0">
                  <b>{{ x.sender }}</b
                  >: {{ x.data }}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-8">
                <input
                  placeholder="Message"
                  ng-keydown="$event.keyCode === 13 && sendMessage()"
                  ng-model="message"
                />
              </div>
              <div class="col col-md-2">
                <button
                  class="btn-primary"
                  variant="contained"
                  color="primary"
                  ng-click="sendMessage()"
                >
                  Send
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="settingModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Setting</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="form-floating">
                <select
                  class="form-select"
                  ng-model="permission.audioInputDevice"
                >
                  <option
                    ng-repeat="x in deviceOption.audioInput"
                    value="{{ x.deviceId }}"
                  >
                    {{ x.label }}
                  </option>
                </select>
                <label for="audioSource">Audio input source:</label>
              </div>

              <div class="form-floating">
                <select
                  class="form-select"
                  ng-model="permission.audioOutputDevice"
                >
                  <option
                    ng-repeat="x in deviceOption.audioOutput"
                    value="{{ x.deviceId }}"
                  >
                    {{ x.label }}
                  </option>
                </select>
                <label for="audioOutput">Audio output destination:</label>
              </div>
              <div class="form-floating">
                <select class="form-select" ng-model="permission.videoDevice">
                  <option
                    ng-repeat="x in deviceOption.video"
                    value="{{ x.deviceId }}"
                  >
                    {{ x.label }}
                  </option>
                </select>
                <label for="videoSource">Video source:</label>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                ng-click="deviceSourceControl()"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div
          class="position-absolute bottom-0 start-50 translate-middle"
          style="
            background-color: whitesmoke;
            color: whitesmoke;
            text-align: center;
            z-index: 999999999;
          "
        >
          <button style="color: #424242" class="btn" ng-click="handleVideo()">
            {{ permission.video ? "open camera" : "close camera" }}
          </button>
          <button style="color: #f44336" ng-click="handleEndCall()" class="btn">
            End call
          </button>
          <button style="color: #424242" ng-click="handleAudio()" class="btn">
            {{ permission.audio ? "open mic" : "close mic" }}
          </button>
          <button style="color: #424242" ng-click="handleScreen()" class="btn">
            {{ permission.screen ? "open screen" : "close screen" }}
          </button>
          <!-- <button
            type="button"
            class="btn position-relative"
            ng-click="openChat(); "
            data-bs-toggle="modal"
            data-bs-target="#messageModal"
          >
            <i class="fa fa-comment" aria-hidden="true"></i>
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            >
              {{ newmessages }}
              <span class="visually-hidden">unread messages</span>
            </span>
          </button> -->
          <button
            type="button"
            class="btn btn-labeled btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#settingModal"
          >
            <span class="btn-label"><i class="fa fa-camera"></i></span>Setting
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('footer'); -%>

<script defer src="/static/custom/video.js"></script>
<script src="/static/custom/selectSource.js"></script>
